@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(#36d1dc, #5b86e5);
  background-position: center;
  background-size: cover;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
